@font-face {
    font-family: sf-regular;
    src: url(/Fonts/sf-regular.otf);
}

@font-face {
    font-family: sf-semi;
    src: url(/Fonts/sf-semi.otf);
}

@font-face {
    font-family: sf-bold;
    src: url(/Fonts/sf-bold.otf);
}

* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    box-sizing: border-box;
    font-family: sf-regular;
    text-rendering: geometricPrecision;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #eeecf3, #FAF9FD);
    font-family: sf-regular;
}

input,
button {
    border: none;
    outline: none;
}

#listContainer {
    width: 35vw;

    border-radius: 30px;
    background-image: linear-gradient(to top, #eeecf3, #FAF9FD);
    padding: 35px;
    text-align: center;
    box-shadow: 0px 10px 30px #00000015;
    border: 3px solid #ffffff;
}

.listTitle {
    color: #0B061C;
    font-family: sf-bold;
}

.listInput {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#taskInput {
    width: 99%;
    height: 50px;

    padding: 10px;
    padding-left: 20px;

    border-radius: 30px;
    font-size: 1.3rem;
    transition: 1s;
}

#taskInput:hover {
    background-color: #0B061C;
    color: #E8E1F3;
    transition: 1s;
}

#taskAdd {
    position: absolute;
    height: 50px;
    width: 100px;

    font-size: 1.3rem;
    font-family: sf-bold;

    padding: 10px;
    left: 57.5%;

    background-image: linear-gradient(#0B061C, #0d071f);
    color: #E8E1F3;
    border-radius: 30px;
    cursor: pointer;
    transition: 1s;
}

#taskAdd:hover {
    color: #0B061C;
    background-image: linear-gradient(#E8E1F3, #fafafa);
    transform: 1s;
}

#listUL {
    width: 100%;
}



.task {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem 1rem 0rem;
    padding: 5px;
}

.taskItem {
    font-family: sf-semi;
    width: 80%;
    text-align: start;
    font-size: 1.6rem;
    color: #0B061C;
}

.iconTask,
.iconDelete,
.iconNotes {
    filter: invert(2%) sepia(55%) saturate(5310%) hue-rotate(240deg) brightness(99%) contrast(100%);
    margin: 0px;
    padding: 0px;
}

.deleteBtn,
.taskNoteBtn,
.noteCloseBtn {
    background-color: #00000000;
    cursor: pointer;

}


.deleteBtn img,
.taskNoteBtn img,
.noteCloseBtn img {
    margin: 0px;
    width: 30px;
}

.iconDelete:hover,
.iconNotes:hover {
    filter: invert(99%) sepia(30%) saturate(2692%) hue-rotate(182deg) brightness(91%) contrast(93%);
}

.deleteBtn:hover,
.taskNoteBtn:hover {
    background-color: #0B061C;
    border-radius: 5px;
    padding: 3px;
    transition: 1s;
}

.deleteBtn,
.taskNoteBtn {
    padding: 3px;
}


/*Open Notes*/

.mainTaskContainer {
    position: fixed;
    width: 35vw;

    border-radius: 30px;
    background-image: linear-gradient(to top, #eeecf3, #FAF9FD);
    padding: 35px;
    text-align: left;
    box-shadow: 0px 10px 30px #00000015;
    border: 3px solid #ffffff;

    display: block;
    left: 5px;
    top: 5px;
}

.titleTaskSect {
    display: flex;
    margin-bottom: 1rem;
    box-shadow: 0px 10px 30px #0000000c;
    border-radius: 15px;
    padding: 15px;
}

.noteTitleTask {
    font-family: sf-bold;
    font-size: 2rem;
    width: 100%;
    color: #0B061C;
}

.noteTextTask {
    font-size: 1.3rem;
    color: #0B061C;

    resize: none;
    border: none;
    outline: none;
    background-image: linear-gradient(to top, #eeecf3, #FAF9FD);
    box-shadow: 0px 10px 30px #0000000c;
    border-radius: 15px;
    width: 100%;
    padding: 25px;
}

.noteCloseBtn {
    filter: invert(4%) sepia(74%) saturate(2996%) hue-rotate(252deg) brightness(100%) contrast(99%);
}